<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/outputStyle.css">
</head>
<body class="bg-gray-400 h-screen">
    <div class="flex justify-end">
        <a href="/profile" class="text-green-400 hover:text-green-600 underline font-bold text-xl mt-8 "> Go To Profile Page</a>
    </div>
    <div class="flex flex-col mt-20 items-center h-full">
        <h2 class="text-green-400 text-2xl font-bold">Edit Task</h2>
        <form action="/post/edit/<%= postData._id %>" class="mt-4" method="post">
            <textarea rows="8" cols="60" class="outline-none border-2 rounded-lg bg-slate-200 p-2"
                name="textContent"> <%= postData.textContent %> </textarea>
            <br><input type="submit" value="Edit Post"
                class="border-2 p-2 bg-green-400 hover:bg-green-600 text-white rounded-md" />
        </form>
    </div>
</body>
</html>