<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/outputStyle.css" rel="stylesheet">
    <title>Register Page</title>
</head>

<body>
    <div class="flex justify-center items-center h-[600px] w-[600px] my-auto mx-auto flex-col">
        <h1 class="text-green-800 text-3xl font-bold">Register Page</h1>
        <form action="/register" method="post"
            class="grid grid-rows-3 grid-cols-6 gap-5 p-4 bg-slate-300 mt-8 rounded-md py-10 px-7 justify-center items-center">
            <label class="col-span-1 text-xl ">Name</label>
            <input class="col-span-5 border border-black rounded-xl p-2" type="text" name="name"
                placeholder="Enter your name" />
            <label class="col-span-1 text-xl">Username</label>
            <input class="col-span-5 border border-black rounded-xl p-2" type="text" name="username"
                placeholder="Enter usernmae" />
            <label class="col-span-1  text-xl">Age</label>
            <input class="col-span-5 border border-black rounded-xl p-2" type="number" name="age"
                placeholder="Enter your age" />
            <label class="col-span-1 text-xl">Email</label>
            <input class="col-span-5 border border-black rounded-xl p-2" type="text" name="email"
                placeholder="Enter your email" />
            <label class="col-span-1 text-xl">Password</label>
            <input class="col-span-5 border border-black rounded-xl p-2" type="password" name="password"
                placeholder="Enter your password" />
            <input class="cursor-pointer col-span-1 bg-blue-700 hover:bg-blue-900 hover:p-3 transition-all duration-700 p-2 px-3 rounded-xl text-center text-white hoverbg-blue-900"
                type="submit" value="Register" />
            <a href="/login" class="cursor-pointer col-span-4 underline text-blue-500 hover:text-blue-700 font-bold">Already have an
                account?</a>
        </form>
    </div>
</body>

</html>